.container{
    position:relative;
    width:100%;
}
.contain{
    position:relative;
    width:100%;
}
.com{
   position:relative;
    width:100%;
}
.anal{
  position: absolute;
  top: 0%;
  left: 30%;
}

.con{
   position:relative;
   width:100%;
}
.layout{
    position:absolute;
    top: 0%;                 
   left: 0%;            
 
}
h1{
    color: lawngreen;
    font-size: 70px;
    font-family: "Playwrite ID", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
   text-shadow: 3px 3px 3px greenyellow; 
}
text
{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
    
}
hr{
  background-color: blue;
  border: none;
  height:2px;
}
.survive{
  position:absolute;
  top: 20%;
  left: 40%;
}
.tit{
  position: absolute;
  top: 28%;
  left: 1%;
   font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:60px;
}
h2{
  color: darkcyan;
  font-size: 60px;
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size:35px;
  text-shadow: 2px 2px 2px aqua;
}
img{
  align-items: center;
  align-content: center;
}
.image-container {
  position: relative;     
  display: inline-block;  
}
body{
  background-color: blue;
  background-attachment: fixed;
  background-position: center;
}
.learn{
  position: absolute;
  top: 40%;
  left:1%;
  color:yellow;
  font-size: 30px;
  text-shadow: 1px 1px 1px white;
}
#learn
{
  width:80px;
  height:70px;
  font-size:30px;
  background-color:magenta;
  text-align: left;
}
.div{
  position: absolute;
  left:10px;
   bottom:10px;
}
button{
  width:50px;
  height:40px;
  padding: 30px;
  padding-right:80px;
  font-size:80px;
}
.head
{
  position: absolute;
  top: 560%;
  left: 10%;
  border: 3px 3px 3px brown;
}
#ma{
   width: 600px;
  height: 600px;
    border: 3px 3px 3px brown;
    border-radius: 24px;
}
.blue{
      position:absolute;
      top: 20%;
      left: 20%;
}
#data{
  width: 600px;
  height: 600px;
  border-radius: 24px;
}
.row{
      display:flex;
      flex-direction: row;
      align-items:center ;
      align-content: center;
}
.svg{
  position:absolute;
    top: 0%;                 
   left: 40%;            
}
.red{
  position:absolute;
  top:0%;
  left: 98%;
}
#ai{
  object-fit: cover;   
  object-position: center; 
  border-radius: 24px;
  height: 1800px;
  width: 1200px;
}
@keyframes sharpblink
{
  0%, 49% { opacity: 1; }
  50%, 100% { opacity: 0; }
}
.image{
  width: 600px;
  height: 600px;
  border-radius: 24px;
}
#python{

}
.column{
  display: flex;
  flex-direction: column;
}
li{
  color: orangered;
  font-size: 70px;
  text-shadow: 2px 2px 2px red;
   font-style: oblique;
   margin: 8px;
}
.le{
  position: absolute;
  top: 48%;
  left: 3%;
  font-size:45px;
  font-style: oblique;
  margin: 2px;
}
h5{
   font-size: 50px;
   color:forestgreen;
    text-shadow: 2px 2px 2px white;
}
h4{
  color: red;
  font-size: 50px;
  text-shadow: 2px 2px 2px white;
  animation:sharpblink 1s linear infinite;
}
.m{
  position: absolute;
  top: 0%;
  left: 10%;
}
.p{
  position: absolute;
  top: 0%;
  left:3%;
}
h3{
  font-size: 40px;
  color:aqua;
}
#pro{
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: row;
  border-radius: 24px;
}
.r{
  display: flex;
  flex-direction: row;
}
.prompt{
  position: absolute;
  top: 0%;
  left: 20%;
}
.pro{
  color: red;
  text-shadow: 2px 2px 2px yellow;
  font-size: 50px;
  animation:sharpblink 1s linear infinite;
}
.pt{
  display: flex;
  flex-direction: row;
}
@keyframes met
{
  from{color:palevioletred;
    text-shadow:2px 2px 2px magenta;}
  to{color:yellow;
    text-shadow:2px 2px 2px yellow;}
}
.aura{
  color:palevioletred;
  text-shadow:2px 2px 2px magenta;
  animation: met 1s linear infinite;
}
.kid{
  background-color: royalblue;
}
.prove{
   color:gold;
  text-shadow: 2px 2px 2px white;
  font-size: 50px;
  position: center;
}
p{
  font-size: 40px;
  color:antiquewhite;
}
.machines{
  color:brown;
  background-color: chartreuse;
}