.container{
    position:relative;
    width:100%;
}
.contain{
    position:relative;
    width:100%;
}
.anal{
  position: absolute;
  top: 0%;
  left: 30%;
}

.con{
   position:relative;
   width:100%;
}
.layout{
    position:absolute;
    top: 0%;                 
   left: 0%;            
 
}
h1{
    color:white;
    font-size: 60px;
    font-family: "Playwrite ID", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
   text-shadow: 3px 3px 3px red; 
}
text
{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
    
}
hr{
  background-color:aqua;
  border: none;
  height:2px;
}
.survive{
  position:absolute;
  top: 13%;
  left: 40%;
}
.tit{
  position: absolute;
  top: 28%;
  left: 1%;
   font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color:white;
  font-size:20px;
}
h2{
  color: purple;
  font-size: 60px;
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size:35px;
  text-shadow: 2px 2px 2px white;
}
img{
  align-items: center;
  align-content: center;
}
.image-container {
  position: relative;     
  display: inline-block;  
}
body{
  
}
.learn{
  position: absolute;
  top: 40%;
  left:1%;
  color:yellow;
  font-size: 30px;
  text-shadow: 1px 1px 1px white;
}
#learn
{
  width:80px;
  height:70px;
  font-size:30px;
  background-color:magenta;
  text-align: left;
}
.fa-star
{
  font-size:40px;
  color:palevioletred;
  position: absolute;

}
.fa-burst{
  font-size:40px;
  color: brown;
  position: absolute;

}
.div{
  position: absolute;
  left:10px;
   bottom:10px;
}
button{
  width:50px;
  height:40px;
  padding: 30px;
  padding-right:80px;
  font-size:80px;
}
.head
{
  position: absolute;
  top: 560%;
  left: 10%;
  border: 3px 3px 3px brown;
}
#ma{
   width: 600px;
  height: 600px;
    border: 3px 3px 3px brown;
    border-radius: 24px;
}
.blue{
      position:absolute;
      top: 20%;
      left: 20%;
}
#data{
  width: 600px;
  height: 600px;
  border-radius: 24px;
}
.row{
      display:flex;
      flex-direction: row;
      align-items:center ;
      align-content: center;
}
.svg{
  position:absolute;
    top: 0%;                 
   left: 40%;            
}
.red{
  position:absolute;
  top:0%;
  left: 98%;

}
#ai{
  object-fit: cover;   
  object-position: center; 
  border-radius: 24px;
  height: 1500px;
  width: 1200px;
}
@keyframes sharpblink
{
  0%, 49% { opacity: 1; }
  50%, 100% { opacity: 0; }
}
 .fa-share{
     animation:sharpblink 1s linear infinite;
 }
.image{
  width: 600px;
  height: 600px;
  border-radius: 24px;
}
#python{

}
.column{
  display: flex;
  flex-direction: column;
}
li{
  color: crimson;
  font-size: 50px;
  text-shadow: 2px 2px 2px white;
   font-style: oblique;
}
.le{
  position: absolute;
  top: 70%;
  left: 3%;
  font-size:45px;
  color:crimson;
  font-style: oblique;
  margin: 2px;
}
h5{
   font-size: 40px;
   color:forestgreen;
    text-shadow: 2px 2px 2px white;
}
h4{
  color: salmon;
  font-size: 50px;
  text-shadow: 2px 2px 2px white;
}
.m{
  position: absolute;
  top: 0%;
  left: 10%;
  animation:sharpblink 1s linear infinite;
}
.p{
  position: absolute;
  top: 0%;
  left:3%;
}
h3{
  font-size: 30px;
  color:aqua;
}
.tooltip{
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.d{
  visibility: hidden;
  position: absolute;
}

